html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Navigation styles */
.navigation {
    background-color: #F8E9E6;
    padding: 20px;
    text-align: center;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
}

nav ul {
    width: 50%;
    margin-left: auto;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

/* Hero image styles */
.heroImg {
    height: 300px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.content img {
    max-width: 100%; 
    height: auto; 
}
/* Footer styles */
footer {
    background-color: #F8E9E6;
    padding: 20px;
    margin-top: auto;
}

footer ul {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    padding: 0;
}

footer li {
    list-style: none; /* Remove default list styles */
    margin: 0 10px; /* Adjust margin between images */
}

footer img {
    width: 50px; /* Adjust the width of the images */
    height: auto; /* Maintain aspect ratio */
}